{% load static %} 
 <header class="main-header sticky-header sticky-header--normal">
            <div class="container-fluid">
                <div class="main-header__inner">
                    <div class="main-header__logo logo-firdip">
                        <a href="_aw0r79d.html">
                            <img src="{% static 'jly8m4g-.png' %}" alt="firdip HTML" width="130">
                        </a>
                    </div>
                    <nav class="main-header__nav main-menu">
                        <ul class="main-menu__list">

                            <li class="dropdown megamenu">
                                <a href="_aw0r79d.html">Home</a>
                            </li>
                            <li>
                                <a href="ijw4r7yl.html">About</a>
                            </li>
                            <li class="dropdown">
                                <a href="xz9soula.html">Ocorrencias</a>
                                <ul class="sub-menu">
                                    <li><a href="s17ne45q.html">Queimadas</a></li>
                                    <li><a href="qqqm1i_v.html">Resgates</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Parceiros</a>
                                <ul class="sub-menu">
                                    <li class="dropdown"><a href="ef67xor9.html">Parceiros</a>
                                        <ul class="sub-menu">
                                            <li><a href="ef67xor9.html">Parceiros</a></li>
                                            <li><a href="cte784kc.html">Poiadores</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li><a href="jm3iir_1.html">Equipe</a></li>
                                    <li class="dropdown"><a href="t4n2hbeg.html">Galeria</a>
                                        <ul class="sub-menu">
                                            <li><a href="y2d8r4xq.html">Gallery Grid</a></li>
                                            <li><a href="81f02xcj.html">Gallery filter</a></li>
                                            <li><a href="rsx2s3jl.html">Gallery Carousel</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="0nu86osk.html">FAQs</a></li>
                                    <li><a href="b70_8i5c.html">Login</a></li>
                                    <li><a href="_m2yg3gi.html">404 Error</a></li>
                                </ul>
                            </li>

                           
                            <li class="dropdown">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="dropdown"><a href="#">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="eb4wthpp.html">No Sidebar</a></li>
                                            <li><a href="zxr0yyq6.html">Left Sidebar</a></li>
                                            <li><a href="vzhnq2if.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">Blog List</a>
                                        <ul class="sub-menu">
                                            <li><a href="awq87_1l.html">No Sidebar</a></li>
                                            <li><a href="vgdbac22.html">Left Sidebar</a></li>
                                            <li><a href="ri5o4gub.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="94mq5ho_.html">Blog Carousel</a></li>
                                    <li class="dropdown"><a href="#">Blog Details</a>
                                        <ul class="sub-menu">
                                            <li><a href="x3z4spbt.html">No Sidebar</a></li>
                                            <li><a href="gnm8mu2_.html">Left Sidebar</a></li>
                                            <li><a href="cpcve9uv.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="gau13a4-.html">Contato</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="main-header__right">
                        <a href="#" class="search-toggler main-header__right__info__item"><i class="icon-search" aria-hidden="true"></i><span class="sr-only">Search</span></a>
                        <a href="tvrmifnx.html" class="main-header__right__info__item"><i class="icon-trolley" aria-hidden="true"></i><span class="sr-only">Search</span></a>
                        <a href="tel:+92-3800-8060" class="main-header__right__call">
                            <div class="main-header__right__icon">
                                <i class="icon-call"></i>
                            </div>
                            <div class="main-header__right__content">
                                <div class="main-header__right__text">Numero de Emergência</div>
                                <div class="main-header__right__number">{{empresa.telefone|default:'-----'}}</div>
                            </div>
                        </a>
                        <div class="mobile-nav__btn mobile-nav__toggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </header>