/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts.gstatic.com/a4i0ldv8.ttf) format('truetype');
}
