@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts.gstatic.com/jvhos81d.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 200;
  src: url(../fonts.gstatic.com/my1nl1_p.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts.gstatic.com/jd9q60br.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts.gstatic.com/gjet2nfs.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts.gstatic.com/x4-hr_rr.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts.gstatic.com/fyu3jenn.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts.gstatic.com/elw-skaz.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts.gstatic.com/c426e3ro.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts.gstatic.com/arscn9d0.ttf) format('truetype');
}
