/*
 * See: https://fonts.google.com/license/googlerestricted
 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/zhjqewfh.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts.gstatic.com/uheo5qx2-2.ttf) format('truetype');
}
@font-face {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts.gstatic.com/q2fzgrdb.ttf) format('truetype');
}
@font-face {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts.gstatic.com/yg-ls-_z.ttf) format('truetype');
}
@font-face {
  font-family: 'YouTube Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts.gstatic.com/4qhqrbtc.ttf) format('truetype');
}
